<div class="main-wrapper">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="w-100 order-1 order-md-0">
      <li class="nav-item dropdown oder-1" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" [class.disabled]="!firstTimeLoaded" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="dashboard">Dashboard</a>
          <a class="dropdown-item" routerLink="production">Production</a>
          <a class="dropdown-item" routerLink="events">Event</a>
        </div>
      </li>
    </div>
    <div class="w-100 order-2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTargetOne" aria-controls="navbarTargetOne" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarTargetOne">
      <div class="navbar-nav text-center-not-sm">
        <app-ressource-display [aviableRessources]="gameLoopManagerService.gameState.storage.ressources"></app-ressource-display>
      </div>
    </div>
    <div class="w-100 order-4">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTargetTwo" aria-controls="navbarTargetTwo" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-5 dual-collapse2 text-center-not-sm" id="navbarTargetTwo">
      <span class="nav-item text-warning ml-4">{{getDate()}}</span>
      <button class="btn btn-outline-success nav-item ml-2" [disabled]="" (click)="btnPressContinue()" type="button">{{ContinueStartBTNText}}</button>
      <button class="btn btn-outline-success nav-item ml-1" [disabled]="!continueClicked || !firstTimeLoaded" (click)="btnPressSpeed()" type="button">{{ContinueSpeedBTNText}}</button>
      <button class="btn btn-outline-success nav-item ml-2" [disabled]="!firstTimeLoaded" (click)="btnPressSave()" type="button">Save</button>
      <button class="btn btn-outline-success nav-item ml-1" [disabled]="!firstTimeLoaded" (click)="btnPressLoad()" type="button">Load</button>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-6">
        <app-dashboard></app-dashboard>
      </div>
      <div class="col-lg-6">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>
    </div>
  </div>
</div>
